body {
  font-family: 'Rubik', sans-serif;
  background-color: #8d8d8d;
  //background-color: rosybrown;
}

.search__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 30px;
}

.mainTitle {
  display: flex;
  text-transform: uppercase;
  flex-direction: row;
  justify-content: center;
  font-size: 55px;
  color: #644143;
  margin: 80px 10px 20px 0px;
}

.inputText {
  border-radius: 20px;
  border: none;
  margin: 10px 0 10px 0px;
  padding: 2px 5px 2px 14px;
  background-color: #d7d0b7;
  width: 220px;
  height: 30px;
  color: #644143;
  font-family: 'Rubik', sans-serif;
}

.search__btn,
.deleteButton {
  border-radius: 14px;
  font-family: 'Rubik', sans-serif;
  border: none;
  margin: 10px 0 10px 45px;
  padding: 2px 7px 2px 7px;
  background-color: #d7d0b7;
  color: #644143;
  &:hover {
    background-color: #644143;
    color: #d7d0b7;
  }
}

*:focus {
  outline: none;
}

.fav__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #644143;
  color: beige;
  padding: 20px 0px 20px 10px;
  margin: 0 20px 20px 20px;
}

.results__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  color: #644143;
  padding: 20px 50px 20px 0px;
}

.resultsParagr,
.favParagr {
  color: #644143;
  padding-left: 20px;
  font-size: 20px;
}

.resultTitle {
  width: 140px;
}

.resultFavTitle {
  width: 100px;
  text-align: center;
}

.eachSerieFav__container {
  width: 180px;
}

.eachSerie__container {
  margin: 10px 20px 20px 20px;
  text-align: center;
}

.resultImg {
  width: 130px;
  height: 180px;
}

.alreadyFav {
  background-color: beige;
  padding-top: 10px;
}
